* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 1.5em;
}

/* style the shop-section */
.shop-name {
  background-color: rgb(244, 217, 224);
  padding-top: 4px;
  font-size: 30px;
  text-align: center;
}
h2 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-align: center;
  padding-top: 26px;
}

.topnav {
  overflow: hidden;
  padding: 15px 0;
}

ul {
  list-style: none;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #2f0101;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #50021e;
  color: rgb(255, 255, 255);
}
.topnav ul li a:hover {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #50021e;
  color: rgb(251, 216, 239);
  line-height: 20px;
  font-size: 17px;
  transition: font-size 1s linear;
}

.container {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  animation: animate 12s ease infinite;
}
@keyframes animate {
  0%,
  100% {
    background-image: url("Images/b-1.jpeg");
  }
  50% {
    background-image: url("Images/b-4.jpeg");
  }
  75% {
    background-image: url("Images/b-3.jpeg");
  }
}
.home-bg p {
  color: rgb(10, 5, 33);
  font-size: 45px;
  text-align: center;
  padding: 10% 0;
}
.shop-container,
.about-container,
.contact-wrap {
  background-color: rgb(252, 246, 247);
  margin-top: 4%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 5em 3em;
}

.grid img {
  width: 100%;
}
.about-container img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 5% 35%;
}
.about-details {
  text-align: center;
  margin: 4rem;
  padding-bottom: 15px;
}

form {
  margin: 5em 15%;
}
button {
  background-color: #e19abf;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 15px;
}
button:hover {
  background-color: #50021e;
}

.contacts2 {
  margin-top: 1.55rem;
  display: flex;
}

.number-info {
  margin-top: 0.5rem;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.socials-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
}

.socials-links a {
  font-size: 20px;
  color: var(--black);
  text-decoration: none;
  margin: 0px 10px;
  padding-bottom: 1.5rem;
}

.socials p {
  margin-left: 1.75rem;
  font-weight: bold;
}

.footer-info {
  margin-top: 2.5rem;
}
@media only screen and (max-width: 700px) {
  .topnav ul {
    /* Make menu in column*/
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 15px;
    margin-left: 55%;
    background-color: beige;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-container img {
    width: 300px;
    height: 300px;
    margin: 5% 20%;
  }
}
